<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
	    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<connectionStrings>
		<add name="MRContext" connectionString="metadata=res://*/MRContext.csdl|res://*/MRContext.ssdl|res://*/MRContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL-Server\DEVSQL;initial catalog=MouseRecorder;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="Log4NetContext" connectionString="data source=SQL-Server\DEVSQL;initial catalog=MouseRecorder;integrated security=true;Trusted_Connection=true;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<appSettings>
		<add key="log4net.Internal.Debug" value="false"/>
	</appSettings>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
		</providers>
	</entityFramework>
</configuration>